<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>Estudiantes Vacunas</h1>
      <form [formGroup]="formularioRegistro">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>identificacion : </label>
              <div class="input-group">
                <input [(ngModel)]="id"
                       type="text"
                       class="form-control"
                       placeholder="119281201"
                       name="identificacion"
                       formControlName="identificacion" />
                <span class="input-group-btn">
                  <button class="btn-buscar" (click)="buscarPersona()" [disabled]="formularioRegistro.invalid">
                    <i class="fas fa-search-plus"></i>
                  </button>
                </span>
                <div *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)" class="alert alert-danger">
                  <div *ngIf="identificacion.errors.required">
                    identificacion es un valor requerido
                  </div>
                  <div *ngIf="identificacion.errors.minlength">
                    identificacion debe tener 10 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-4">
          <label>tipo Documento : </label>
          <input type="text"
                 class="form-control"
                 disabled
                 [(ngModel)]="persona.tipoDocumento"
                 name="tipoDocumento" />
        </div>
        <div class="col-md-4">
          <label>nombres : </label>
          <input type="text"
                 class="form-control"
                 disabled
                 [(ngModel)]="persona.nombres"
                 name="nombres" />
        </div>
        <div class="col-md-4">
          <label>fecha Nacimiento : </label>
          <input type="text"
                 class="form-control"
                 disabled
                 [(ngModel)]="persona.fechaNacimiento"
                 name="fechaNacimiento" />
        </div>
        <div class="col-md-4">
          <label>edad : </label>
          <input type="number"
                 class="form-control"
                 disabled
                 [(ngModel)]="persona.edad"
                 name="edad" />
        </div>
        <div class="col-md-4">
          <label>nombres Acudiente  : </label>
          <input type="text"
                 class="form-control"
                 disabled
                 [(ngModel)]="persona.nombresAcudiente"
                 name="nombresAcudiente" />
        </div>
        <div class="col-md-4">
          <label>nombre Institucion Educativa : </label>
          <input type="text"
                 class="form-control"
                 disabled
                 [(ngModel)]="persona.nombreInstitucionEducativa"
                 name="nombreInstitucionEducativa" />
        </div>
      </div>


      <br>
      <h2>Vacunas realizadas</h2>
      <br>
      <button class="btn-guardar" (click)="AbrirRegistroVacuna()" ><i class="fas fa-save"></i>Agregar Vacuna</button>
      <br>
      <table class="table table-hover table-sm table-bordered">
        <thead class="header-table">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacuna of vacunas" >
            <td>{{vacuna.vacunaId}}</td>
            <td>{{vacuna.nombre}}</td>
            <td>{{vacuna.fecha |date:"shortTime"}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
