.btn-Guardar i {
  color: aliceblue;
  margin-right: 12px;
}


.btn-guardar
{
color: white;
background-color: #222831;
border-radius: 6px;
font-size: 18px;
border: 2px solid #222831;
padding: 16;
height: 37px;
margin: 5px;
}
.btn-guardar:hover
{
color: rgb(231, 236, 241);
background-color: #222831;
border: 2px solid #222831;
}
