<div class="modal-header">
  <h3>Registrar Vacuna</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">

    <form [formGroup]="formularioRegistro">
      <div class="form-group">
        <label>Fecha de vacuna: </label>
        <input type="date" [(ngModel)]="vacuna.fecha" name="fecha" formControlName="fecha" class="form-control">
        <div
            *ngIf="
            fecha.invalid &&
              (fecha.dirty || fecha.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="fecha.errors.required">
              fecha es un valor requerido
            </div>
        </div>
      </div>

      <div class="form-group">
        <label>Tipo de vacuna: </label>
        <select name="nombre" [(ngModel)]="vacuna.nombre" name="Tipo" formControlName="nombre" class="form-control">
          <option [value]="nombre" *ngFor="let nombre of nombres"> {{nombre}}</option>
        </select>
        <div
            *ngIf="
            nombre.invalid &&
              (nombre.dirty || nombre.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="nombre.errors.required">
              nombre es un valor requerido
            </div>
        </div>
      </div>

      <button class="btn-guardar" [disabled]="formularioRegistro.invalid"  (click)="registroVacuna()">
        <i class="fas fa-save"  ></i> Guardar
      </button>

    </form>
  </div>
</div>
